body{
	margin: 0px;
    background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}
#logo{
    position: absolute;
    left: 150px;
}
#News{
    position: absolute;
    top: 10px;
    left: 45px;
    font-family: 'Tomorrow', sans-serif;
    color: white;
    font-size: 50px;
}
#Contact{
    position: absolute;
	top: 10px;
	right: 45px;
	font-family: 'Tomorrow', sans-serif;
	font-weight: bold;
	color: white;
	font-size: 50px;
}

#email{
    position: absolute;
    top:200px;
    left: 300px;
    color:#ffffff;
    font-family: 'Revalia', cursive;
    font-size: 60px;
    color: red;
}

#email2{
    position: absolute;
    top:300px;
    left: 300px;
    color:#ffffff;
    font-family: 'Revalia', cursive;
    font-size: 60px;
}

#phone{
    position: absolute;
    top:400px;
    left: 300px;
    color:#ffffff;
    font-family: 'Revalia', cursive;
    font-size: 60px;
    color:red;
}

#phone2{
    position: absolute;
    top:500px;
    left: 300px;
    color:#ffffff;
    font-family: 'Revalia', cursive;
    font-size: 60px;
}

a:visited {
  color: #ff0000;
}
a:hover, a:active, a:focus {
  color: white;
}

.contact {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
